<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
    <li role="presentation" ng-repeat="item in menuItems" ng-switch="item.type"
        ng-class="{'dropdown-header': item.type == 'header', 'divider': item.type == 'divider'}">
        <span ng-switch-when="header">{{item.title}}</span>
        <span ng-switch-when="divider"></span>
        <a ng-switch-default role="menuitem" ng-click="select(item)">
            {{item.title}}
            <span class="glyphicon glyphicon-ok pull-right" ng-if="selectedItem == item"></span>
        </a>
    </li>
</ul>