!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
    include ../includes/head
    body
        div(data-ng-include="'views/header.html'", data-role="navigation")
        //.progress.progress-striped
        //    .progress-bar.progress-bar-success(role="progressbar", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")
        section.container
            block content
        include ../includes/foot