.idea
/services/*.suo

/services/Core/obj/Debug

/services/Db.MsSql/*.user

/services/Output/Debug
/services/Services.IISHost/bin

Debug

/services/Services.IISHost/*.user

AutoMapper.3.0.0

AvalonEdit.4.3.1.9430

EntityFramework.6.0.1

Extended.Wpf.Toolkit.2.0.0

/services/packages/HtmlAgilityPack.1.4.6
