<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ad Collector</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="item in menu" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a href="#!/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
        <ac-realty-search></ac-realty-search>
        <ac-pagination class="navbar-btn" total="realty.total" offset="realty.search.offset"
                       items-per-page="realty.search.limit"
                       max-page-count="5"></ac-pagination>

    </div>
    <ac-ajax-progressbar></ac-ajax-progressbar>
</nav>