<div class="ad-realty panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <h4>
                    <a href="{{ad.url}}" target="_blank">{{ad.address}}</a>
                </h4>
            </div>
            <div class="col-md-4">
                <h4 class="pull-right">{{ad.price}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ad.images[0].previewUrl}}"
                     class="img-thumbnail img-rounded img-responsive preview"
                     ng-class="{ 'no-image': !ad.images.length }"/>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li>{{ad.roomsCount}} Room</li>
                    <li>{{ad.livingSpace}} M<sup>2</sup></li>
                    <li>{{ad.floor}}/{{ad.floorsCount}} Floor</li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul class="list-unstyled pull-right">
                    <li>
                        <small>{{ad.publishDate | date}}</small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <ul class="list-unstyled preview-list">
                    <li ng-repeat="image in ad.images">
                        <img src="{{image.previewUrl}}"
                             class="img-thumbnail img-responsive preview-small"
                             ng-class="{ 'no-image': !image.previewUrl }"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>